<%- include('partials/header') %>
<section class="gamedeet">
    <img src="<%= game.image %>"> alt="<%= game.title %>">
    <div>
        <h1><%= game.title %> ("<%= game.release %>")</h1>
        <p><%= game.description %></p>
        <a href="/">← previous page</a>
    </div>

</section>

<%- include('partials/header') %>